{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h2>University forum</h2>
    <p class="lead">Discuss subjects you are worried or excited about</p>
</div>

{% for row in section_rows %}
<div class="row forum-section">
    {% for section in row %}
    {% if section is not None %}
    <div class="col-lg-6">
        <section>
            <div class="section-header">
                <h3>{{ section.title }}</h3>
                <p>{{ section.description }}</p>
            </div>

            <ul class="list-unstyled">
                {% for topic in section.recent_topics %}
                <li>
                    <div><a href="{% url 'forum:show-topic' section.id topic.id %}">{{ topic.title }}</a></div>
                    <div class="text-right">
                        <a href="{% url 'profiles:show' topic.last_message.author.username %}" class="user">{{ topic.last_message.author.username }}</a>,
                        {{ topic.last_message.created|timesince }} ago
                    </div>
                </li>
                {% endfor %}
            </ul>

            <p>
                <a href="{% url 'forum:show-section' section.id %}" class="btn btn-sm btn-default pull-right">
                    All topics →
                </a>
            </p>
        </section>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

<div class="row forum-section">
    <div class="col-lg-6">
        <h4>Users online</h4>
        <div class="visitors">Loading...</div>
    </div>
</div>

<script>
    function updateVisitors() {
        $.get('/visitors', function (data) {
            var links = data.usernames.map(function (username) {
                var el = $('<a class="user"></a>')
                    .attr('href', '/profile/' + username)
                    .text(username);
                return el.prop('outerHTML');
            });
            var content = (links.length > 0) ? links.join(', ') : 'No users online';
            $('.visitors').html(content);
        });
    }

    updateVisitors();
    setInterval(updateVisitors, 3000);
</script>
{% endblock %}
