{% extends "base.html" %}

{% block title %}{{ section.title }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'forum:index' %}">Форум</a></li>
        <li class="active">{{ section.title }}</li>
    </ul>
</div>

<header>
    <h2>{{ section.title }}</h2>
    <p>{{ section.description }}</p>
</header>

<p>
    <a href="{% url 'forum:create-topic' section.id %}" class="btn btn-sm btn-default">Создать тему</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Тема</th>
            <th>Создана</th>
            <th>Обновлена</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr>
            <td><a href="{% url 'forum:show-topic' section.id topic.id %}">{{ topic.title }}</a></td>
            <td>
                <div><a href="{% url 'profiles:show' topic.author.username %}" class="user">{{ topic.author.username }}</a></div>
                <div>{{ topic.created }}</div>
            </td>
            <td>
                {% with last_message=topic.last_message %}
                {% if last_message is not None %}
                <div><a href="{% url 'profiles:show' topic.last_message.author.username %}" class="user">{{ topic.last_message.author.username }}</a></div>
                <div>{{ topic.last_message.created|timesince }} назад</div>
                {% endif %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
