{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}{{ topic.title }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'forum:index' %}">Форум</a></li>
        <li><a href="{% url 'forum:show-section' topic.section.id %}">{{ topic.section.title }}</a></li>
        <li class="active">{{ topic.title }}</li>
    </ul>
</div>

{% for post in posts %}
<section class="row">
    <div class="col-xs-2">
        <p><a href="{% url 'profiles:show' post.author.username %}" class="user">{{ post.author.username }}</a></p>
        <div class="short-profile">
            <p>Сообщений: {{ post.author_profile.post_count }}</p>
        </div>
    </div>
    <div class="col-xs-10">
        <ul class="list-inline message-header">
            <li>#{{ forloop.counter }}</li>
            <li>{{ post.created }}</li>
            <li>
                {% if post.edited is not None %}
                изменено через {{ post.edited|timesince:post.created }}
                {% endif %}
            </li>
            {% if request.user.is_superuser %}
            <li><a href="{% url 'forum:delete-post' post.id %}" class="delete-post">Удалить</a></li>
            {% endif %}
        </ul>
        <div class="message-content well">{{ post.content|linebreaks }}</div>
    </div>
</section>
{% endfor %}

{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <div class="well">
            <form class="form post-form" method="post"
                  action="{% url 'forum:create-post' section_id=topic.section.id topic_id=topic.id %}">
                <h4>Новое сообщение</h4>

                {% bootstrap_messages %}

                {% csrf_token %}
                {% bootstrap_form post_form %}

                {% buttons %}
                <button type="submit" class="btn btn-primary">Отправить</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endif %}

<script>
    $(function () {
        $('.delete-post').click(function (event) {
            if (!confirm('Вы действительно хотите удалить сообщение?'))
                event.preventDefault();
        });
    });
</script>
{% endblock %}
