{% extends "base.html" %}

{% block title %}{{ section.title }} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'forum:index' %}">Forum</a></li>
        <li>Users</li>
        <li class="active">{{ profile.username }}</li>
    </ul>
</div>

<header>
    <h2>{{ profile.username }}</h2>
</header>

<p>Messages on the forum: {{ profile.post_count }}</p>
<p>New topics on the forum: {{ profile.new_topic_count }}</p>
{% endblock %}
