{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Sign up &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="bs-component">
    <ul class="breadcrumb">
        <li><a href="{% url 'forum:index' %}">Forum</a></li>
        <li class="active">Sign up</li>
    </ul>
</div>

<div class="well">
    <form class="form-horizontal" method="post" action="{% url 'profiles:signup' %}">
        <h4>Sign up</h4>

        {% bootstrap_messages %}

        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <input type="hidden" name="next" value="{{ next }}" />

        {% buttons %}
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
