<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Программисты матмеха{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'flatly-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% if request.user.is_authenticated %}
                    <li role="presentation">
                        <a href="{% url 'profiles:show' request.user.username %}" class="user">{{ request.user.username }}</a>
                    </li>
                    <li role="presentation"><a href="{% url 'logout' %}">Выход</a></li>
                    {% else %}
                    <li role="presentation"><a href="{% url 'login' %}?next={{ request.path }}">Вход</a></li>
                    <li role="presentation"><a href="{% url 'profiles:signup' %}?next={{ request.path }}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted"><a href="{% url 'forum:index' %}">Программисты матмеха</a></h3>
        </div>

        {% block content %}{% endblock %}
    </div>
</body>
</html>
